@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;  
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

nav{
    width: 100%;
    position: fixed;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
    text-align: center;
}

nav ul li{
    display: inline-block ;
}

nav ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

nav ul li a:hover{
    border-bottom: 3px solid white;
}
section{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.graadient{
    font-size: 55px;
    margin: 10px;
    background-image: linear-gradient(to right, #023354, #3375A1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section p{
    color: whitesmoke;
    font-size: 15pt;
    text-align: left;
    margin: 7px;
    color: black;

}

section:nth-of-type(1){
    background-image: url(../imagens/1.png);
}

#sessao2 {
    color: black;
}
section:nth-of-type(2) {
    color: black;
    background-color: rgba(128, 128, 128, 0.473);
}

section:nth-of-type(3){
    background-color: #3375A1;
}

#sessao3 > h1 {
    color: whitesmoke;
}

section:nth-of-type(4){
    background-color: whitesmoke;
}